body {
  background-color: #808080;
}
h1 {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 25px;
  color: #EEE;
}
#listOfEmails {
  list-style-image: url("../images/arrow.png");
  color: #EEE;
  font-size: 18px;
}
#listOfEmails li {
  line-height: 30px;
}
